//  --------------------------------------------------------------------------------
//  Toggle switch
//  --------------------------------------------------------------------------------

    // Toggle switch 'track'
    .ui-toggle {
        background-color: #f6f6f6;
        border: 1px solid #ccc;
        border-radius: 23px;
        box-sizing: content-box;
        display: inline-block;
        position: relative;
        transition: background 0.2s 0.05s ease-out,
            border 0.2s 0.05s ease-in;
        vertical-align: middle;

        &.is-disabled {
            background-color: white;
            opacity: 0.75;
        }

    }

    // Toggle switch thumb
    .ui-toggle {

        &::before {
            background-color: white;
            border-radius: 50%;
            box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.33 );
            content: '';
            display: inline-block;
            height: 100%;
            left: 0;
            position: absolute;
            transition: transform 0.2s ease-out;
        }

        &.is-disabled::before {
            box-shadow: none;
            border: 1px solid #ccc;
            margin-left: -1px;
            margin-top: -1px;
        }

        &.is-active::before {
            border: 0;
            margin: 0;
        }

    }

    // Checkbox input.
    //
    // Note: Hide visually so default input is 'removed' and custom styles
    // can come through but it should still be able to interacted with
    // (i.e. mouse, keyboard and screen readers)
    .ui-toggle {

        > input {
            cursor: pointer;
            height: 100%;
            margin: 0;
            opacity: 0;
            width: 100%;
        }

        &.is-disabled > input {
            pointer-events: none;
        }

    }


//  Styles -------------------------------------------------------------------------

    .ui-toggle.is-active {

        // Default
        & {
            background-color: #999;
            border-color: transparent;
        }

        &.toggle-primary { background-color: #286090 }
        &.toggle-success { background-color: #449d44 }
        &.toggle-info    { background-color: #31b0d5 }
        &.toggle-warning { background-color: #f0ad4e }
        &.toggle-danger  { background-color: #d9534f }

    }



//  Sizes --------------------------------------------------------------------------

    // Extra small
    .ui-toggle.toggle-xs {
        height: 22px;
        width: 42px;

        &::before {
            width: 22px;
        }

        &.is-active::before {
            transform: translateX( 20px );
        }

    }

    // Small
    .ui-toggle.toggle-sm {
        height: 30px;
        width: 52px;

        &::before {
            width: 30px;
        }

        &.is-active::before {
            transform: translateX( 22px );
        }

    }

    // Default
    .ui-toggle {
        height: 34px;
        width: 60px;

        &::before {
            width: 34px;
        }

        &.is-active::before {
            transform: translateX( 26px );
        }

    }

    // Large
    .ui-toggle.toggle-lg {
        height: 46px;
        width: 72px;

        &::before {
            width: 46px;
        }

        &.is-active::before {
            transform: translateX( 26px );
        }

    }