.ui-toggle {
	background-color: #fff !important;
	border: 1px solid #dfdfdf !important;
	border-radius: 17px;
	box-sizing: content-box;
	cursor: pointer;
	display: inline-block;
	height: 34px;
	position: relative;
	transition: background 0.2s 0.05s ease-out,
		border 0.2s 0.05s ease-in;
	vertical-align: middle;
	width: 60px;
}

.ui-toggle.checked {
	background-color: #999 !important;
	border-color: transparent !important;
}

.ui-toggle.checked.btn-primary { background-color: #286090 !important }
.ui-toggle.checked.btn-success { background-color: #449d44 !important }
.ui-toggle.checked.btn-info    { background-color: #31b0d5 !important }
.ui-toggle.checked.btn-warning { background-color: #f0ad4e !important }
.ui-toggle.checked.btn-danger  { background-color: #d9534f !important }

.ui-toggle::before {
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.4 );
	content: '';
	display: inline-block;
	height: 34px;
	left: 0;
	position: absolute;
	transition: transform 0.2s ease-out;
	width: 34px;
}

.ui-toggle.toggle-xs,
.ui-toggle.toggle-xs::before {
	border-radius: 11px;
	height: 22px;
	width: 42px;
}
.ui-toggle.toggle-sm,
.ui-toggle.toggle-sm::before {
	border-radius: 15px;
	height: 30px;
	width: 52px;
}
.ui-toggle.toggle-lg,
.ui-toggle.toggle-lg::before {
	border-radius: 23px;
	height: 46px;
	width: 72px;
}

.ui-toggle.toggle-xs::before { width: 22px }
.ui-toggle.toggle-sm::before { width: 30px }
.ui-toggle.toggle-lg::before { width: 46px }


.ui-toggle.checked::before { transform: translateX( 26px ) }
.ui-toggle.checked.toggle-xs::before { transform: translateX( 20px ) }
.ui-toggle.checked.toggle-sm::before { transform: translateX( 22px ) }
.ui-toggle.checked.toggle-lg::before { transform: translateX( 26px ) }